
    /* Main styling for editor layout */
    body {
      font-family: 'Courier New', monospace;
      background-color: #282C34;
      color: #61DAFB;
      margin: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .tabs {
      font-family: 'Courier New', monospace;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .tab {
      padding: 10px 20px;
      border: 1px solid #61DAFB;
      margin-right: 5px;
      cursor: pointer;
      background-color: #3C3F41;
      color: #61DAFB;
    }
    .tab.active {
      background-color: #61DAFB;
      color: #282C34;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #3C3F41;
      border: 1px solid #61DAFB;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content .tab {
      width: 100%;
      margin: 0;
      text-align: left;
    }
    .code-editor {
      display: flex;
      width: 100%;
      height: 100%;
gap:2px;
      margin-bottom: 20px;
    }
    .CodeMirror {
      width: 100%;
border:2px solid #61DAFB;
      height: 100%;
    }
    .hidden {
      display: none;
    }
    .run-button {
      padding: 10px 20px;
      cursor: pointer;
      background-color: #61DAFB;
      color: #282C34;
      font-size: 16px;
width:90px;
      margin-top: 10px;
    }
    .output-container {
      width: 100%;
      height: 100%;
      background-color: #1E1E1E;
      color: #D4D4D4;
      padding: 10px;
      border: 2px solid #61DAFB;
      overflow: hidden;
    }
    #output, #python-output {
      width: 100%;
      height: 100%;
      background-color: #1E1E1E;
      color: #D4D4D4;
      border: none;
    }
    .python-output-container {
      display: none;
      width: 100%;
      background-color: #1E1E1E;
      color: #D4D4D4;
      padding: 10px;
      border: 5px solid #61DAFB;
    }
  
